<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Pdf</title>
</head>
<body>
<h1 align="center">CERN ALICE</h1>
<div align="center">
<h2>The virtual temperature of the reactor </h2>
</div>
<table style="height: 700px;width: 90%;border-collapse: collapse;margin-left:5%;font-size: 15px">
<tr style="background: CornflowerBlue">
<td style="width: 60%;border: 2px solid black">23 April 2019 00:00</td>
<td style="width: 40%;border: 2px solid black"> <%= temp[0]%> С°</td>
</tr>
<tr>
<td style="width: 60%;border: 2px solid black">23 April 2019 01:00</td>
<td style="width: 40%;border: 2px solid black"> <%= temp[1]%>С°</td>
</tr>
<tr style="background: CornflowerBlue">
<td style="width: 60%;border: 2px solid black">23 April 2019 02:00</td>
<td style="width: 40%;border: 2px solid black"> <%= temp[2]%>С°</td>
</tr>
<tr>
<td style="width: 60%;border: 2px solid black">23 April 2019 03:00</td>
<td style="width: 40%;border: 2px solid black"> <%= temp[3]%>С°</td>
</tr>
<tr style="background: CornflowerBlue">
<td style="width: 60%;border: 2px solid black">23 April 2019 04:00</td>
<td style="width: 40%;border: 2px solid black"> <%= temp[5]%>С°</td>
</tr>
<tr>
<td style="width: 60%;border: 2px solid black">23 April 2019 05:00</td>
<td style="width: 40%;border: 2px solid black"> <%= temp[6]%>С°</td>
</tr>
<tr style="background: CornflowerBlue">
<td style="width: 60%;border: 2px solid black">23 April 2019 06:00</td>
<td style="width: 40%;border: 2px solid black"> <%= temp[7]%>С°</td>
</tr>
<tr>
<td style="width: 60%;border: 2px solid black">23 April 2019 07:00</td>
<td style="width: 40%;border: 2px solid black"> <%= temp[8]%>С°</td>
</tr>
<tr style="background: CornflowerBlue">
<td style="width: 60%;border: 2px solid black">23 April 2019 08:00</td>
<td style="width: 40%;border: 2px solid black"> <%= temp[9]%>С°</td>
</tr>
<tr>
<td style="width: 60%;border: 2px solid black">23 April 2019 09:00</td>
<td style="width: 40%;border: 2px solid black"><%= temp[10]%>С°</td>
</tr>
<tr style="background: CornflowerBlue">
<td style="width: 60%;border: 2px solid black">23 April 2019 10:00</td>
<td style="width: 40%;border: 2px solid black"> <%= temp[11]%>С°</td>
</tr>
<tr>
<td style="width: 60%;border: 2px solid black">23 April 2019 11:00</td>
<td style="width: 40%;border: 2px solid black"> <%= temp[12]%>С°</td>
</tr>
<tr style="background: CornflowerBlue">
<td style="width: 60%;border: 2px solid black">23 April 2019 12:00</td>
<td style="width: 40%;border: 2px solid black"> <%= temp[13]%>С°</td>
</tr>
</table>
<br>
<br>
<div style="width:90%; padding: 2px; margin-left:5%;">
<h2 align="center">Bug report</h2>
<p style="text-align:justify; font-size: 20px;"> <%= bugReport %> </p>
</div>
<div style="width: 40%;margin-left: 5%">
<br>
<br>
<p align="left" style="font-size:15px"> Occupation: <%= occupation%></p>
<p align="left" style="font-size:15px"><%= firstname%> <%=lastname%></p>
<p align="left" style="font-size:15px"> Signature <hr size="1px" color="black" style="width:40%; float:left;"></p>
<p align="left" style="font-size:15px; clear:both;"> <%=date%></p>
</div>
</body>
</html>
